.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
  display: block;
}

.header__lang-link:hover {
  transition: opacity .2s linear;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
