.page {
  max-width: 1280px;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  background-color: #2A2C2F;
  margin: 0 auto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
