.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    margin: 0 16px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraphs {
    gap: 25px;
  }
}
