.cover {
  position: relative;
  color: #FFF;
  margin: 0 auto;
  height: calc(100vw / 1.6);
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease-in-out;
}

.cover:hover::after {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover {
    height: 740px;
    max-width: 1184px;
  }
}
